<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<!-- head - The head is a child of the HTML root element. It contains code intended primarily for the browser, in order to render the view. -->